<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" x-data>
  <div class="container">
    <a class="navbar-brand" href="/">MyProject</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- หน้าแรก / สินค้า / อื่น ๆ -->
        <li class="nav-item">
          <a class="nav-link" href="/">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">สินค้า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">เกี่ยวกับเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">ติดต่อเรา</a>
        </li>

        <!-- ถ้าไม่ login -->
        <li class="nav-item" x-show="!$store.auth.user">
          <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
        </li>
        <li class="nav-item" x-show="!$store.auth.user">
          <a class="nav-link" href="/register">สมัครสมาชิก</a>
        </li>

        <!-- ถ้า login -->
        <li class="nav-item dropdown" x-show="$store.auth.user">
          <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            👤 <span x-text="$store.auth.user?.name"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="/profile">โปรไฟล์</a>
            </li>
            <li>
              <button class="dropdown-item text-danger" @click="$store.auth.logout()">
                ออกจากระบบ
              </button>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>